@use '/src/styles/constants/colors';

.container {
  width: 50%;
  height: auto;
  padding: 10px;
  overflow: hidden;
}

.video {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  border: 1px solid colors.$BORDER_GRAY;
  border-radius: 10px;
  transition: transform 250ms ease-in;
}

.metadata {
  width: 100%;
  max-height: 52px;
  padding: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title {
  width: 100%;
  height: 100%;
  font-size: 0.8rem;

  strong {
    font-weight: bold;
    color: colors.$MAIN_COLOR;
  }
}

@media (max-width: 480px) {
  .metadata {
    display: none;
  }
}
