@use '/src/styles/constants/colors';

.commentInputForm {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  textarea {
    width: 80%;
    height: 80px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid colors.$BORDER_BLACK;
    border-radius: 4px;
  }

  .submitBtn {
    width: 120px;
    height: 40px;
    margin: 2px;
    margin-left: 10px;
    color: colors.$WHITE;
    background-color: colors.$MAIN_COLOR;
    border-radius: 4px;
  }
}
