@use '/src/styles/constants/colors';

.commentItem {
  sub {
    margin-left: 10px;
    font-size: 14px;
    vertical-align: sub;
  }

  strong {
    font-size: 18px;
    font-weight: bold;
  }

  .idTimeWrap {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  .inputWrap {
    display: flex;
    align-items: center;
  }

  .textWrap {
    width: 80%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .messagesBtn {
    display: flex;
    flex-direction: column;

    button {
      width: 120px;
      height: 40px;
      margin: 2px;
      margin-left: 10px;
      color: colors.$WHITE;
      background-color: colors.$MAIN_COLOR;
      border-radius: 4px;
    }
  }
}
