@use '/src/styles/constants/colors';

.youtubeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ytItemTitle {
  margin: 10px;
  margin-top: 20px;
  font-size: 18px;
}

.ytItemContainer {
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
}

.ytPlayerContainer {
  width: 100%;

  .initPlayer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 400px;
    font-size: 24px;
    font-weight: bold;
    color: colors.$WHITE;
    background-color: colors.$BORDER_GRAY;
  }
}
