@use '/src/styles/constants/colors';

.productWrapper {
  display: inline-block;
  width: 25%;
  padding: 10px;
  margin: 0 auto;
  margin: 4px;
  overflow: hidden;
  border: 1px colors.$BORDER_GRAY solid;
  border-radius: 2px;

  p {
    margin: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.imageWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: white;
}
