@use '/src/styles/constants/colors';

.headerMain {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 40px;
  padding-left: 40px;
  background-color: #f6f6f6;

  h1 {
    font-size: 2rem;
  }
}

.headerInner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-width: 680px;
  height: 68px;
  padding: 0 40px;
}

.headerCenter {
  align-items: center;
  max-width: 466px;
  margin: 0 20px;

  p {
    font-size: 1.5rem;
  }
}

.headerRight {
  margin-right: 20px;

  span {
    margin-left: 5px;
    font-size: 18px;
  }
}
