@use '/src/styles/constants/colors';

.productWrapper {
  display: inline-block;
  width: 25%;
  margin: 0 auto;
  margin: 10px;
  overflow: hidden;

  p {
    margin: 5px;
  }
}

.productImg {
  width: 200px;
  background-color: gray;
}
