@use '/src/styles/constants/colors';

.article {
  padding: 20px;
  margin-top: 40px;
  background-color: colors.$BACK_WHITE;
  border-radius: 10px;

  h2 {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .firstParagraph {
    margin-top: 10px;
  }
}
