@use '/src/styles/constants/colors';

.content {
  margin: 0 auto;
  padding: 40px;
  padding-bottom: 200px;
  width: 100%;
  max-width: 1200px;
  min-width: 680px;
  background-color: #fff;
  img {
    width: 100%;
  }
}
