@use '/src/styles/constants/colors';

.content {
  width: 100%;
  min-width: 680px;
  max-width: 1200px;
  padding: 40px;
  padding-bottom: 200px;
  margin: 0 auto;
  background-color: #ffffff;

  img {
    width: 100%;
  }
}
