@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';

.content {
  width: 800px;
  min-width: 380px;
  max-width: 1200px;
  padding: 40px;
  padding-bottom: 200px;
  margin: 0 auto;
  background-color: #ffffff;

  .imgContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .loadingWraper {
      @include flexbox.flexbox(center center);
    }
  }

  img {
    width: 100%;
  }
}
